@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	color: #eee;
	background-color: #222;
}

/* Layout */

.game-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	border-bottom: 2px solid rgb(73, 73, 73);
	margin: 0 auto 2rem auto;
}

.game-content {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	margin: 0 auto;
}

.game-content,
.game-header {
	width: 90%;
	max-width: 60rem;
}

.guess-range {
	font-size: 1.6rem;
}

.input-section {
	text-align: center;
}

.game-stats-section {
	font-size: 1.6rem;
	margin-bottom: 3rem;
}

.game-stats-section p:not(:last-child) {
	margin-bottom: 1rem;
}

.number-display-container {
	background-color: teal;
}

.input-box {
	background-color: rgb(51, 51, 51);
	border: none;
	border-radius: 0.4rem;
	font-family: inherit; /* inherit from body */
	color: inherit;
	font-size: 2rem;
	padding: 0.8rem;
	margin: 0 1rem 3rem 0;
	width: 10rem;
	text-align: center;
}

.btn {
	text-decoration: none;
	letter-spacing: 1.5px;
	border: none;
	background-color: rgb(123, 75, 235);
	border-radius: 5px;
	color: #eee;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: inherit;
	padding: 1rem 2rem;
	cursor: pointer;
}

.btn:hover {
	background-color: rgb(112, 69, 212);
}

.btn-play-again {
	margin-right: 1rem;
}

.message {
	margin-bottom: 2rem;
	font-size: 2rem;
}

.score-label {
}

/* Main menu styles */

.menu-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu-header {
	border-bottom: 2px solid rgb(73, 73, 73);
}

.menu-content,
.menu-header {
	width: 90%;
	max-width: 50rem;
	margin: 0 auto;
}

.menu-header h1 {
	font-size: 2.5rem;
	padding: 3rem 0;
	text-align: center;
}

.radio-container {
	width: 100%;
	border: none;
	margin: 4rem 0;
	border-radius: 4px;
}

.radio-container legend {
	font-size: 2.2rem;
	padding: 0 1rem;
	text-align: center;
}

.radio-controls {
	display: flex;
	justify-content: center;
	padding: 2rem 1rem;
}

.radio-control:not(:last-child) {
	margin-right: 2rem;
}

.radio-input {
	margin-right: 0.6rem;
}

.radio-label {
	font-size: 1.7rem;
	opacity: 0.8;
}

@media only screen and (max-width: 20em) {
	html {
		font-size: 50%;
	}
}

@media only screen and (min-width: 56.25em) {
	html {
		font-size: 72%;
	}
}

@media only screen and (min-width: 75em) {
	html {
		font-size: 90%;
	}
}

@media only screen and (min-width: 112.5em) {
	html {
		font-size: 110%;
	}
}
